<section>
    <div class="container">
        <div class="row" style="padding-top: 111px">
        <div class="col-lg-2 col-lg-offset-2"><mat-input-container class="" style="width: 100%;"><input matInput placeholder="Input" [(ngModel)]="person.name"></mat-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 29px">
        <div class="col-lg-2 col-lg-offset-2"><mat-input-container class="" style="width: 100%;"><input matInput placeholder="Input" [(ngModel)]="person.price"></mat-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 100px">
        <div class="col-lg-1 col-lg-offset-2"><button class="btn btn-primary" (click)="create_Person()" style="width: 100%;">Button</button>
        </div>
        <div class="col-lg-1 "><a routerLink="/home"><button class="btn btn-primary" style="width: 100%;">Button</button></a>
        </div>
        </div>

    </div>
</section>
